*{
    margin: 0%; padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    

}
body{
    background: rgb(216, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    max-width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 45px rgb(0, 0, 0);
}
.square{
    width: 18px;
    height: 18px;
    background: rgb(14, 68, 99);
    margin: 0px;
    outline: rgb(14, 68, 99) 1px solid;
    box-shadow: 0 0 2px black;
    transition: 3s ease;
}
.square:hover{
    transition: 0.01s linear;
    
    
}